/aws/.terraform/
/aws/key_pair/tic-tac-toe-key.pem
/aws/key_pair/tic-tac-toe-key.pub
/aws/terraform.tfstate
/aws/terraform.tfstate.backup
/localstack/.terraform/
/localstack/terraform.tfstate
/localstack/terraform.tfstate.backup
